:root
{
    --available-color: rgb(22, 196, 60);
    --printing-color-highlight: #FF6909;
    --printing-color-background: #7D3609;
    --offline-color: #616161;

    --grey-text: #2E2E2E;

    --progress-bar-height: 40px;
}

body{
    margin:0px;
    font-family: 'Roboto Mono', monospace;
}

.halfchart{
    flex: 1;
    background-color: #7D3609;

    flex-basis: 50vw;

    min-width: 50vh;
    min-height: 50vh;
}

#controls{
    flex: 1;
    background: grey;

    flex-basis: 50vw;

    min-width: 50vh;
    min-height: 50vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#vizdiv{
    flex: 1;
    background-color: #FF6909;

    flex-basis: 50vw;

    min-width: 50vh;
    min-height: 50vh;
}

#split4{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
}


/* INPUT STUFF */

input{
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}

input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
}

input[type=button]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

.control{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control_title{
    margin: 20px;
}